### Sensors ###
## SensorsManager ##
# use simple manager for Android deployment mid-2018
#1m5.sensors.manager=io.onemfive.core.sensors.SensorManagerSimple

# Sensors to Register separated by commas; options are clearnet,i2p,tor,idn
1m5.sensors.registered=i2p

# URL prefix and suffix (starts with period) routing rules for each sensor with multiple suffixes separated by commas
# These are not yet supported; hardcoded for now
#1m5.sensors.routing.i2p=.i2p
#1m5.sensors.routing.tor=http,https,.onion
#1m5.sensors.routing.idn=.idn

## I2P ##
1m5.sensors.i2p.isTest=${isTest}
